# **AI 개론 성취도 평가**

*   아래 텍스트창을 더블클릭한 후 성명을 입력하시오.

*   성명 :

*   아래 코드창을 실행하시오.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

**문제 1) 아래의 배열 arr 을 reshape 함수를 이용하여 3행 4열 형태의 2차원 배열을 만들기 위한 코드를 작성하여 출력하시오.**

In [ ]:
arr=np.arange(12)

**문제 2) randint 함수를 이용하여 1에서 10까지(11미만) 랜덤한 정수 10개를 만들기 위한 코드를 작성하여 출력하시오.**

**문제 3) 다음과 같은 내용의 테이블을 데이터프레임 객체로 만들기 위한 코드를 작성하여 출력하시오.**

![문제3.png]()

**문제 4) 아래의 코드를 이용하여 my_df라는 데이터프레임을 생성하고 이를 csv 파일형식으로 저장하기 위한 코드를 작성하시오.(파일의 이름은 my_df.csv로 할 것)**

In [ ]:
my_df = pd.DataFrame(
    [["Biking", 68.5, 1985, np.nan], ["Dancing", 83.1, 1984, 3]],
    columns=["hobby","weight","birthyear","children"],
    index=["alice", "bob"]
)

**문제 5) 아래의 코드를 이용하여 원 그래프를 작성하는 코드를 작성하고 출력하시오. 아래 코드에서 lbl 은 종류를 말하며, size 는 각 종류별 백분율을 의미한다.**

In [ ]:
lbl = 'Apple', 'Grape', 'Pear', 'Lemon'
size = [35, 30, 25, 10]

**문제 6) 아래의 x값을 이용하여 y=x, y=x^2(x 제곱), y=x^3(x 세제곱) 3가지 line plot 을 하나의 플롯안에 나태내는 코드를 작성하고 출력하시오. 세 개의 선 그래프가 구별될 수 있도록 선스타일과 선의 색상을 적절히 조정하고 범례도 표시되게끔 하시오.**

In [ ]:
x = np.linspace(0, 2, 100)